<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Mein ToDos <sup>1</sup></div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item {% if request.url.path == '/dashboard' %}active{% endif %}">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider my-0">

 

  <hr class="sidebar-divider my-0">

  <li class="nav-item {% if request.url.path.startswith('/todos') %}active{% endif %}">
    <a class="nav-link" href="/todos">
      <i class="fas fa-fw fa-clipboard-list"></i>
      <span>Aufgabe Erstellen</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">

  <li class="nav-item {% if request.url.path.startswith('/calendar') %}active{% endif %}">
    <a class="nav-link" href="/calendar">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Kalender</span>
    </a>
  </li>


  <hr class="sidebar-divider">




  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>


</ul>